{% extends "task/base_task.html" %}
{% load static %}
{% block title %} Etiquetas {% endblock title %}
{% block content %}
    <h4 class='mt-5 mb-5'>Etiquetas</h4>
    <div class='tags_manager_container'>
        <div class='create_tag_container'>
            <form class='task_form  d-flex flex-column' action="{% url "create_tag" user.id %}" method='POST'>
                {% csrf_token %}
                {{create_tag_form.as_p}}
                <input class='btn_task_form' type="submit" value="Crear Etiqueta">
            </form>
        </div>
        <div class='tags_list w-100'>
            {% for tag in tags  %}
                <div class='tag_elements d-flex justify-content-around align-items-center w-100'>
                    <h5 class='tag_name'>{{tag.tag_name}}</h5>
                    <form class='d-flex justify-content-center align-items-center' action="{% url "delete_tag" tag.id %}" method='POST'>
                        {% csrf_token %}
                        <button class='{% if tag.tag_name == 'Tarea' %} d-none {% endif %} tag_delete' type="submit">
                            <img class='delete_tag_icon' src="{% static "task/icon/delete_task_icon.svg" %}" alt="Icono eliminar tarea">
                        </button>
                    </form>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}