{% extends "task/base_task.html" %}
{% load static %}

{% block title %}
    {% if user.is_authenticated %}
        Mis Tareas
    {% else %}
        Bienvenido
    {% endif %}
{% endblock title %}

{% block content %}
    <div class='menu_task_mobile d-lg-none'>
        <span>Tus tareas {{ user.full_name }}</span>
    </div>
    {% include "task/partials/task_utils_mobile.html" %}
    {% comment %} {% include "task/partials/filter_task.html" %} {% endcomment %}
    <div>
        {% for task in tasks_all  %}
            {% include "task/partials/task_card.html" %}
        {% endfor %}
    </div>
    {% include "task/partials/create_task_modal.html" %}
{% endblock content %}
