:root {
    --text-color: #211C6A;
    --title-color: #59B4C3;
    --background-card-color: #fdf7e5;
    --brand-color: #74E291;
}
body {
    color: var(--text-color);
}
h1,h2,h3,h4,h5,h6 {
    color: var(--text-color);
}
a {
    text-decoration: none;
}
.minav {
    padding: 18px 0;
}
/* base task */
.minav img {
    height: 65px;
    margin-left: 12px;
    width: 50px;
}

#button_perfil button {
  background-color: var(--text-color);
}

#button_perfil img {
    height: 14px;
    margin-right: 30px;
    width: 14px;
}
/* .back_page {
    margin-right: 4px;
} */
.back_page img {
    height: 35px;
    width: 35px;
}

/* task home */
.menu_task_mobile{
    margin-top: 12px;
    width: 100%;
}
.menu_task_utils_icon {
    border-radius: 50%;
    height: 40px;
    padding: 4px;
    width: 40px;
}
.task_utils_canvas {
    background-color: var(--title-color);
    color: white;
}
.close_menu {
    background-color: var(--title-color);
    border: none;
}
.close_menu img {
    height: 25px;
    width: 25px;    
}

/* task_utils_mobile */
.btn_create_task {
    background-color: #ffffff;
    border: None;
    color: var(--title-color);
    padding: 8px;
    width: 100%;
}
.utils_icon {
    height: 20px;
    margin-left: 4px;
    width: 20px;
}


/** Task Form */

.task_form p {
    color: var(--text-color);
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
}

.task_form p input, .task_form p textarea, .task_form p select  {
    background-color: var(--background-card-color);
    border: 1px solid var(--title-color);
    padding-left: 12px;
    
} 
.task_form p input:focus, .task_form p textarea:focus, .task_form p select:focus {
    outline: var(--text-color) 1px solid;
} 
.task_form p textarea {
    height: 100px
}
.task_form input[type="date"]::-webkit-calendar-picker-indicator {
    /* filter: invert(1); */
    opacity: (0.8);
}
.task_form input[type="color"] {
    background-color: transparent;
    border: none;
}
input[type="color"]::-webkit-color-swatch {
    margin-top: 12px;
  }
.task_form input[type="color"]:focus {
    outline: none;
}

.btn_task_form {
    background-color: var(--title-color);
    border: none;
    color: var(--background-card-color);
    margin: 18px 0;
    padding: 12px 0;
    width: 100%;
}

/* Modal create task */
.modal-title {
    color: var(--text-color);
}
.btn_close_modal {
    background-color: transparent;
    border: none;
}
.btn_close_modal img{
    height: 28px;
    width: 28px;
}

/* Task card */
.task_card {
    background-color: var(--background-card-color);
    margin-top: 14px;
    padding: 20px;
}
.btn_task_card {
    background-color: var(--title-color);
    border: none;
    border-radius: 12px;
    color: var(--background-card-color);
    width: 100%;
}
.tag_container{
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;
}
.tag_container p {
    text-align: center;
    width: 30%;
}
.tag {
    border-radius: 4px 12px;
    color: #ffffff;
    font-weight: bold;
    padding:6px 12px;
}
.info_card_title {
    width: 70%;
}
.task_config {
    width: 30%;
}
.task_config_icon {
    height: 30px;
    margin-left: 8px;
    width: 30px; 
}
.btn_delete {
    background-color: transparent;
    border: none;
    margin-bottom: 12px;
}
.btn_delete:active{
    background-color: transparent;
    border: none;
}
/* Delete modal */

.modal_delete .modal-body  {
    background-color: var(--background-card-color);
}
.msn_delete {
    text-align: center;
}
.inp_delete {
    background-color: red;
    border: none;
    color: var(--background-card-color);
    margin: 24px auto;
    padding: 12px;
    width: 50%;
}


/* Tags  */
.tag_elements {
    background-color: var(--background-card-color);
    padding: 12px 12px;
}

.tag_name {
    color: var(--title-color);
    width: 80%;
}
.tag_elements form {
    width: 20%;
} 
.tag_delete {
    background-color: transparent;
    border: none;
}
.delete_tag_icon {
    height: 25px;
    width: 25px;
}


/* Filter status */
.filter_status_title {
    border-bottom: solid 2px var(--background-card-color);
    color: var(--background-card-color);
    margin: 32px 0 18px 0;
    padding: 18px 0;
}
.filter_container {
    margin: 42px 0 22px 0;
    width: 100%;
}
.filter_status{
    background-color: transparent;
    border: none;
    padding: 8px 8px;
    position: relative; 
}
.filter_status img {
    height: 40px;
    width: 25px;
}
.filter_status span {
    background-color: var(--title-color);
}
.index_container {
    background-color: var(--brand-color);
}
.index_container h1 {
    color: var(--background-card-color);
}
.index_container img {
    height: 230px;
    width: 200px;
}

.login_index a {
    background-color: var(--title-color);
    color: var(--background-card-color);
    text-align: center;
    text-decoration: none;
    margin-bottom: 12px;
    padding: 12px 24px;
    width: 45%;
}

/* Media query */
@media screen and (width >= 992px) {
    .minav ul {
        margin-right: 150px;
    }
    .minav li a {
        background-color:#f8f9fa ;
        border: .5px var(--title-color) solid;
        padding: 5px 18px;

    }
    .minav li a:hover {
        background-color: var(--brand-color);
        transition: all 0.3s ease;
    }
    .btn_task_form:hover{
        background-color: var(--brand-color);
    } 
    .tag_elements:hover {
        background-color: var(--brand-color);
    }
}
