{% extends "user_manager/base.html" %}
{% load i18n %}

{% block content %}
    {% autoescape off %}
    <h2 class="text-bg-primary">Hola {{ fullname }}</h2>
    <h3>Hemos recibido una solicitud para restablecer la contraseña de tu cuenta en {{ site_name }}.</h3>

    <p>Por favor, haz clic en el siguiente enlace para restablecer tu contraseña:</p>
    <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">Reestablecer contraseña</a>
    {% comment %} {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %} {% endcomment %}

    <p>Si no solicitaste este restablecimiento de contraseña, ignora este mensaje.</p>

    <p>Gracias.</p>
    <p>El equipo de {{ site_name }}</p>

    {% endautoescape %}
{% endblock content %}



