{% extends "user_manager/base.html" %}
{% block content %}
  {% if validlink %}
  <div class="col-10 col-lg-4 col-xl-3 login d-flex flex-column">
     <h4 class="form_title">Ingresa tu nueva contaseña</h4>
     <form method="POST">
       {% csrf_token %}
       {{ form.as_p }}
       <button type="submit">Establecer contraseña</button>
     </form>
  <div class="col-10 col-lg-4 col-xl-3 login d-flex flex-column">
  {% else %}
     <h2>Restablecimiento de contraseña fallido</h2>
     <p>El enlace para restablecer la contraseña no es válido, posiblemente porque ya se ha utilizado. Solicite un nuevo restablecimiento de contraseña.</p>
  {% endif %}
{% endblock content %}