{% extends "user_manager/base.html" %}

{% block content %}
    <div class="col-10 col-lg-4 col-xl-3 login d-flex flex-column">
        <h2>Restablecimiento de contraseña enviado.</h2>
        <p>Le hemos enviado por correo electrónico con instrucciones para restablecer su contraseña, debería recibirlo en breve.</p>
        
        <p>Si no recibe instrucciones para restablecer su contraseña, asegúrese de haber ingresado la dirección de correo electrónico con la que se registró en la aplicación, o revise su bandeja de correos no deseados.</p>
    </div>
{% endblock content %}