{% extends "user_manager/base.html" %}

{% block content %}
    <h1> 🙈 Hola soy un aguacate 🥑 </h1>
    {% if user.is_authenticated  %}
        <h3>{{ user.full_name }}</h3>
        <h5>Etiquetas:</h5>
        <ul>
            {% for tag in user.tag_set.all %}
                <li>{{ tag.tag_name }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <a href="{% url 'register' %}">Crear cuenta</a>
    <a href="{% url 'login' %}">Login</a>
    <a href="{% url 'logout' %}">Logout</a>
    <a href="{% url 'password_change' %}">Cambiar Contraseña</a>
    <a href="{% url 'password_reset' %}">Recuperar contraseña</a>
    {% comment %} <h6><a href=" {% url "home" %} ">Volver</a></h6> {% endcomment %}
{% endblock content %}


